<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibros</title>
    <link rel="stylesheet" href="/CSS/estiloscontacto.css">
</head>
<body class="background">
    <header>
        <img src="/images/3.png" alt="Logotipo" class="logo" height="1080" width="1080">
        <h1>"Cuida el planeta sin renunciar a lo tradicional"</h1>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/Views/productos.html">Productos</a></li> 
                <li><a href="/Views/contacto.html" class="active">Contacto</a></li> 
                <li class="pedidos"><a href="/Views/presupuestos.html">Presupuestos</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
        <main>
            <section class="contact-info">
                <h2>Contacto</h2>
                <p>Dirección: Calle Falsa 123, Ciudad Ejemplo</p>
                <p>Teléfono: +34 123 456 789</p>
                <p>Email: contacto@ecolibros.com</p>
            </section>
            <section class="map">
                <h2>Donde encontrarnos</h2>
                <img src="/images/2.png" alt="Mapa de ubicación de EcoLibros" height="1080" width="1080">
            </section>
        </main>
        <footer>
            <div class="social">
                <a href="https://www.facebook.com/facebook/?locale=es_ES"><img src="/images/Facebook.png" alt="Facebook" class="icono" height="512" width="512"></a>
                <a href="https://x.com/twitter?lang=es"><img src="/images/Twitter.png" alt="Twitter" class="icono" height="920" width="920"></a>
                <a href="https://www.instagram.com/aliceunbounded_/"><img src="/images/Instagram.png" alt="Instagram" class="icono" height="168" width="170"></a>
            </div>
            <p>&copy; 2025 EcoLibros | Dirección de la empresa | <a href="#">Aviso Legal</a></p>
        </footer>
    
</body>
</html>