<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibros</title>
    <link rel="stylesheet" href="/CSS/iniciodesesion.css">
</head>
<body class="background">
    <header>
        <img src="/images/3.png" alt="Logotipo" class="logo">
        <h1>"Cuida el planeta sin renunciar a lo tradicional"</h1>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/Views/productos.html">Productos</a></li> 
                <li><a href="/Views/contacto.html">Contacto</a></li> 
                <li class="pedidos"><a href="/Views/presupuestos.html">Presupuestos</a></li>
                <li><a href="#" class="active">Iniciar Sesión</a></li>
            </ul>    
        </nav>
        <main>
            <section class="login-form">
                <h1>Iniciar Sesión</h1>
                <form action="#" method="POST">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                    
                    <button type="submit">Ingresar</button>
                </form>
            </section>
        </main>
        <footer>
        <div class="social">
            <a href="#"><img src="/images/Facebook.png" alt="Facebook" class="icono"></a>
            <a href="#"><img src="/images/Twitter.png" alt="Twitter" class="icono"></a>
            <a href="#"><img src="/images/Instagram.png" alt="Instagram" class="icono"></a>
        </div>
        <p>&copy; 2025 EcoLibros | Dirección de la empresa | <a href="#">Aviso Legal</a></p>
    </footer>
    
</body>
</html>