<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibros</title>
    <link rel="stylesheet" href="../CSS/estilopresupuestos.css">
</head>
<body class="background">
    <header>
        <img src="../images/3.png" alt="Logotipo" class="logo" height="1080" width="1080">
        <h1>"Cuida el planeta sin renunciar a lo tradicional"</h1>
    </header>
        <nav>
            <ul class="fondo">
                <li><a href="#">Inicio</a></li>
                <li><a href="../Views/productos.html">Productos</a></li> 
                <li><a href="../Views/contacto.html">Contacto</a></li> 
                <li class="presupuestos"><a href="../Views/presupuestos.html" class="active">Presupuestos</a></li>
                <li><a href="../Views/Iniciodesesion.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
        <main>
            <section class="budget-form">
                <h2>Solicite su Presupuesto</h2>
                <form action="#" method="POST">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" pattern="[a-zA-Z áÁéÉíÍóÓúÚñÑ]+" minlength="5" maxlength="40" required>
                    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+" size="30" required>
                    
                    <label for="phone">Teléfono:</label>
                    <input type="tel" id="phone" name="phone" pattern="(\+34|0034|34)? [ -]*(6|7)[ -]*([0-9][ -]*)" required>
                    
                    <label for="message">Solicite más información:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                    
                    <label>
                        <input type="checkbox" id="privacy" name="privacy" required>
                        Acepto la Política de privacidad
                    </label>
                    
                    <button type="submit">Enviar</button>
                </form>
            </section>
        </main>
        <footer>
            <div class="social">
                <a href="https://www.facebook.com/facebook/?locale=es_ES"><img src="../images/Facebook.png" alt="Facebook" class="icono" height="512" width="512"></a>
                <a href="https://x.com/twitter?lang=es"><img src="../images/Twitter.png" alt="Twitter" class="icono" height="920" width="920"></a>
                <a href="https://www.instagram.com/aliceunbounded_/"><img src="../images/Instagram.png" alt="Instagram" class="icono" height="168" width="170"></a>
            </div>
            <p>&copy; 2025 EcoLibros | Dirección de la empresa | <a href="#">Aviso Legal</a></p>
        </footer>
    
</body>
</html>