<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibros</title>
    <link rel="stylesheet" href="../CSS/estoilosproductos.css">
</head>
<body class="background">
    <header>
        <img src="../images/3.png" alt="Logotipo" class="logo" height="1080" width="1080">
        <h1>"Cuida el planeta sin renunciar a lo tradicional"</h1>
    </header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#" class="active">Productos</a></li> 
                <li><a href="./contacto.html">Contacto</a></li>
                <li class="pedidos"><a href="./presupuestos.html">Presupuestos</a></li>
                <li><a href="./Iniciodesesion.html">Iniciar Sesión</a></li>

            </ul>
        </nav>
        <main>
            <section class="gallery">
                <h2>Nuestros Productos</h2>
                <form class="search-form">
                    <input type="search" placeholder="¿Que quieres encontrar?"> <!--Para que sea mas facil la busqueda de algun titulo en concreto-->
                    <input type="submit" value="Buscar">
               </form>
                <div class="grid-container">
                    <div class="grid-item"><a href="#"><img src="../images/5.png" alt="Producto 1" height="1058" width="1080"></a></div>
                    <div class="grid-item"><a href="#"><img src="../images/Quijote.png" alt="Producto 2" height="1065" width="1080"></a></div>
                    <div class="grid-item"><a href="#"><img src="../images/9.png" alt="Producto 3" height="1080" width="1080"></a></div>
                    <div class="grid-item"><a href="#"><img src="../images/Elnombreelviento.jpg" alt="Producto 4" height="2560" width="1684"></a></div>
                    <div class="grid-item"><a href="#"><img src="../images/Elretratodedoriangrey.jpg" alt="Producto 5" height="1000" width="663"></a></div>
                    <div class="grid-item"><a href="#"><img src="../images/Seisdecuervos.jpg" alt="Producto 6" height="1000" width="628"></a></div>
                </div>
            </section>
        </main>        
        <footer>
            <div class="social">
                <a href="https://www.facebook.com/facebook/?locale=es_ES"><img src="../images/Facebook.png" alt="Facebook" class="icono" height="512" width="512"></a>
                <a href="https://x.com/twitter?lang=es"><img src="../images/Twitter.png" alt="Twitter" class="icono" height="920" width="920"></a>
                <a href="https://www.instagram.com/aliceunbounded_/"><img src="../images/Instagram.png" alt="Instagram" class="icono" height="168" width="170"></a>
            </div>
            <p>&copy; 2025 EcoLibros | Dirección de la empresa | <a href="#">Aviso Legal</a></p>
        </footer>
</body>
</html>
