<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoLibros</title>
    <link rel="stylesheet" href="/CSS/estoilosproductos.css">
</head>
<body class="background">
    <header>
        <img src="/images/3.png" alt="Logotipo" class="logo">
        <h1>"Cuida el planeta sin renunciar a lo tradicional"</h1>
    </header>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="#" class="active">Productos</a></li> 
                <li><a href="/Views/contacto.html">Contacto</a></li> 

                <li class="pedidos"><a href="/Views/presupuestos.html">Presupuestos</a></li>
                <li><a href="/Views/Iniciodesesion.html">Iniciar Sesión</a></li>

            </ul>
        </nav>
        <main>
            <section class="gallery">
                <h1>Nuestros Productos</h1>
                <form class="search-form">
                    <input type="search" placeholder="¿Que quieres encontrar?"> <!--Para que sea mas facil la busqueda de algun titulo en concreto-->
                    <input type="submit" value="Buscar">
               </form>
                <div class="grid-container">
                    <div class="grid-item"><a href="#"><img src="/images/5.png" alt="Producto 1"></a></div>
                    <div class="grid-item"><a href="#"><img src="/images/Quijote.png" alt="Producto 2"></a></div>
                    <div class="grid-item"><a href="#"><img src="/images/9.png" alt="Producto 3"></a></div>
                    <div class="grid-item"><a href="#"><img src="/images/Elnombreelviento.jpg" alt="Producto 4"></a></div>
                    <div class="grid-item"><a href="#"><img src="/images/Elretratodedoriangrey.jpg" alt="Producto 5"></a></div>
                    <div class="grid-item"><a href="#"><img src="/images/Seisdecuervos.jpg" alt="Producto 6"></a></div>
                </div>
            </section>
        </main>        
        <footer>
            <div class="social">
                <a href="#"><img src="/images/Facebook.png" alt="Facebook" class="icono"></a>
                <a href="#"><img src="/images/Twitter.png" alt="Twitter" class="icono"></a>
                <a href="#"><img src="/images/Instagram.png" alt="Instagram" class="icono"></a>
            </div>
            <p>&copy; 2025 EcoLibros | Dirección de la empresa | <a href="#">Aviso Legal</a></p>
        </footer>
</body>
</html>